In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from numpy import mean
from numpy import std
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.neighbors import LocalOutlierFactor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import RepeatedKFold
from sklearn.feature_selection import RFE
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Perceptron
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import Normalizer
from numpy import set_printoptions

import warnings
warnings.filterwarnings("ignore")

In [3]:
energy = pd.read_csv('C:/Users/AJ/Documents/Workspace/Projects/Main Proj/energydata_complete.csv')
energy.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
# renaming the columns
energy = energy.rename(columns = {'date' : 'date_time', \
'T1' : 'kitchen_temp', \
'RH_1' : 'kitchen_hum', \
'T2' : 'liv_temp', \
'RH_2' : 'liv_hum', \
'T3' : 'laun_temp', \
'RH_3' : 'laun_hum', \
'T4' : 'office_temp', \
'RH_4' : 'office_hum', \
'T5' : 'bath_temp', \
'RH_5' : 'bath_hum', \
'T6' : 'outside_b_temp', \
'RH_6' : 'outside_b_hum', \
'T7' : 'iron_temp', \
'RH_7' : 'iron_hum', \
'T8' : 'teen_temp', \
'RH_8' : 'teen_hum', \
'T9' : 'par_temp', \
'RH_9' : 'par_hum', \
'T_out' : 'outside_temp', \
'Press_mm_hg' : 'outside_press', \
'RH_out' : 'outside_hum', \
'Windspeed' : 'windspeed', \
'Visibility' : 'visibility', \
'Tdewpoint' : 'dew_point', \
'rv1' : 'rand_var1', \
'rv2' : 'rand_var2', \
'Appliances' : 'a_energy', \
'lights' : 'l_energy'})
energy.head()

,date_time,a_energy,l_energy,kitchen_temp,kitchen_hum,liv_temp,liv_hum,laun_temp,laun_hum,office_temp,...,par_temp,par_hum,outside_temp,outside_press,outside_hum,windspeed,visibility,dew_point,rand_var1,rand_var2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [5]:
energy = energy.loc[:, ['kitchen_temp', 'kitchen_hum',
       'liv_temp', 'liv_hum', 'laun_temp', 'laun_hum', 'office_temp',
       'office_hum', 'bath_temp', 'bath_hum', 'outside_b_temp',
       'outside_b_hum', 'iron_temp', 'iron_hum', 'teen_temp', 'teen_hum',
       'par_temp', 'par_hum', 'outside_temp', 'outside_press', 'outside_hum',
       'windspeed', 'visibility', 'dew_point', 'rand_var1', 'rand_var2', 'a_energy', 'l_energy']]
energy.head()

,kitchen_temp,kitchen_hum,liv_temp,liv_hum,laun_temp,laun_hum,office_temp,office_hum,bath_temp,bath_hum,...,outside_temp,outside_press,outside_hum,windspeed,visibility,dew_point,rand_var1,rand_var2,a_energy,l_energy
0,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,...,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433,60,30
1,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,...,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195,60,30
2,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,...,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668,50,30
3,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,...,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389,50,40
4,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,...,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097,60,40

In [20]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   kitchen_temp    19735 non-null  float64
 1   kitchen_hum     19735 non-null  float64
 2   liv_temp        19735 non-null  float64
 3   liv_hum         19735 non-null  float64
 4   laun_temp       19735 non-null  float64
 5   laun_hum        19735 non-null  float64
 6   office_temp     19735 non-null  float64
 7   office_hum      19735 non-null  float64
 8   bath_temp       19735 non-null  float64
 9   bath_hum        19735 non-null  float64
 10  outside_b_temp  19735 non-null  float64
 11  outside_b_hum   19735 non-null  float64
 12  iron_temp       19735 non-null  float64
 13  iron_hum        19735 non-null  float64
 14  teen_temp       19735 non-null  float64
 15  teen_hum        19735 non-null  float64
 16  par_temp        19735 non-null  float64
 17  par_hum         19735 non-null  float64
 18  outside_temp    19735 non-null  float64
 19  outside_press   19735 non-null  float64
 20  outside_hum     19735 non-null  float64
 21  windspeed       19735 non-null  float64
 22  visibility      19735 non-null  float64
 23  dew_point       19735 non-null  float64
 24  rand_var1       19735 non-null  float64
 25  rand_var2       19735 non-null  float64
 26  a_energy        19735 non-null  int64
 27  l_energy        19735 non-null  int64
dtypes: float64(26), int64(2)
memory usage: 4.2 MB

In [16]:
# converting the datetime column from string to datetime format
energy['date_time'] = pd.to_datetime(energy.date_time)
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date_time       19735 non-null  datetime64[ns]
 1   kitchen_temp    19735 non-null  float64
 2   kitchen_hum     19735 non-null  float64
 3   liv_temp        19735 non-null  float64
 4   liv_hum         19735 non-null  float64
 5   laun_temp       19735 non-null  float64
 6   laun_hum        19735 non-null  float64
 7   office_temp     19735 non-null  float64
 8   office_hum      19735 non-null  float64
 9   bath_temp       19735 non-null  float64
 10  bath_hum        19735 non-null  float64
 11  outside_b_temp  19735 non-null  float64
 12  outside_b_hum   19735 non-null  float64
 13  iron_temp       19735 non-null  float64
 14  iron_hum        19735 non-null  float64
 15  teen_temp       19735 non-null  float64
 16  teen_hum        19735 non-null  float64
 17  par_temp        19735 non-null  float64
 18  par_hum         19735 non-null  float64
 19  outside_temp    19735 non-null  float64
 20  outside_press   19735 non-null  float64
 21  outside_hum     19735 non-null  float64
 22  windspeed       19735 non-null  float64
 23  visibility      19735 non-null  float64
 24  dew_point       19735 non-null  float64
 25  rand_var1       19735 non-null  float64
 26  rand_var2       19735 non-null  float64
 27  a_energy        19735 non-null  int64
 28  l_energy        19735 non-null  int64
dtypes: datetime64[ns](1), float64(26), int64(2)
memory usage: 4.4 MB

In [21]:
energy.describe().T

,count,mean,std,min,25%,50%,75%,max
kitchen_temp,19735.0,21.686571,1.606066,16.790000,20.760000,21.600000,22.600000,26.260000
kitchen_hum,19735.0,40.259739,3.979299,27.023333,37.333333,39.656667,43.066667,63.360000
liv_temp,19735.0,20.341219,2.192974,16.100000,18.790000,20.000000,21.500000,29.856667
liv_hum,19735.0,40.420420,4.069813,20.463333,37.900000,40.500000,43.260000,56.026667
laun_temp,19735.0,22.267611,2.006111,17.200000,20.790000,22.100000,23.290000,29.236000
laun_hum,19735.0,39.242500,3.254576,28.766667,36.900000,38.530000,41.760000,50.163333
office_temp,19735.0,20.855335,2.042884,15.100000,19.530000,20.666667,22.100000,26.200000
office_hum,19735.0,39.026904,4.341321,27.660000,35.530000,38.400000,42.156667,51.090000
bath_temp,19735.0,19.592106,1.844623,15.330000,18.277500,19.390000,20.619643,25.795000
bath_hum,19735.0,50.949283,9.022034,29.815000,45.400000,49.090000,53.663333,96.321667
outside_b_temp,19735.0,7.910939,6.090347,-6.065000,3.626667,7.300000,11.256000,28.290000
outside_b_hum,19735.0,54.609083,31.149806,1.000000,30.025000,55.290000,83.226667,99.900000
iron_temp,19735.0,20.267106,2.109993,15.390000,18.700000,20.033333,21.600000,26.000000
iron_hum,19735.0,35.388200,5.114208,23.200000,31.500000,34.863333,39.000000,51.400000
teen_temp,19735.0,22.029107,1.956162,16.306667,20.790000,22.100000,23.390000,27.230000
teen_hum,19735.0,42.936165,5.224361,29.600000,39.066667,42.375000,46.536000,58.780000
par_temp,19735.0,19.485828,2.014712,14.890000,18.000000,19.390000,20.600000,24.500000
par_hum,19735.0,41.552401,4.151497,29.166667,38.500000,40.900000,44.338095,53.326667
outside_temp,19735.0,7.411665,5.317409,-5.000000,3.666667,6.916667,10.408333,26.100000
outside_press,19735.0,755.522602,7.399441,729.300000,750.933333,756.100000,760.933333,772.300000
outside_hum,19735.0,79.750418,14.901088,24.000000,70.333333,83.666667,91.666667,100.000000
windspeed,19735.0,4.039752,2.451221,0.000000,2.000000,3.666667,5.500000,14.000000
visibility,19735.0,38.330834,11.794719,1.000000,29.000000,40.000000,40.000000,66.000000
dew_point,19735.0,3.760707,4.194648,-6.600000,0.900000,3.433333,6.566667,15.500000
rand_var1,19735.0,24.988033,14.496634,0.005322,12.497889,24.897653,37.583769,49.996530
rand_var2,19735.0,24.988033,14.496634,0.005322,12.497889,24.897653,37.583769,49.996530
a_energy,19735.0,97.694958,102.524891,10.000000,50.000000,60.000000,100.000000,1080.000000
l_energy,19735.0,3.801875,7.935988,0.000000,0.000000,0.000000,0.000000,70.000000

# Data Treatment

In [22]:
energy.nunique()

kitchen_temp        722
kitchen_hum        2547
liv_temp           1650
liv_hum            3376
laun_temp          1426
laun_hum           2618
office_temp        1390
office_hum         2987
bath_temp          2263
bath_hum           7571
outside_b_temp     4446
outside_b_hum      9709
iron_temp          1955
iron_hum           5891
teen_temp          2228
teen_hum           6649
par_temp            924
par_hum            3388
outside_temp       1730
outside_press      2189
outside_hum         566
windspeed           189
visibility          413
dew_point          1409
rand_var1         19735
rand_var2         19735
a_energy             92
l_energy              8
dtype: int64

In [7]:
# Identifying and removing outliers

outliers = energy.values
x = outliers[:, :-1] 
y = outliers[:, -1]
print(x.shape, y.shape)

lof = LocalOutlierFactor()
yhat = lof.fit_predict(x)

# select all rows that are not outliers
outliers = [x for x in yhat if x != 1]
print('outliers: ', len(outliers))

# assinging the dataset that are not outliers
mask = yhat != -1 
inputX = x[mask, :]
outputY = y[mask]

# summarize the shape of the updated dataset
print(inputX.shape, outputY.shape)

# fit the model
model = LinearRegression()
model.fit(inputX, outputY)
print()

# evaluate predictions
mae = mean_absolute_error(y, yhat)
print('The mean absolute error (MAE) is: %.3f' % mae)

(19735, 27) (19735,)
outliers:  7
(19728, 27) (19728,)

The mean absolute error (MAE) is: 4.348

In [8]:
xDf = pd.DataFrame(inputX)
yDf = pd.DataFrame(outputY)

oEnergy = pd.concat([xDf, yDf], axis= 1)
oEnergy.columns = ['kitchen_temp', 'kitchen_hum',
       'liv_temp', 'liv_hum', 'laun_temp', 'laun_hum', 'office_temp',
       'office_hum', 'bath_temp', 'bath_hum', 'outside_b_temp',
       'outside_b_hum', 'iron_temp', 'iron_hum', 'teen_temp', 'teen_hum',
       'par_temp', 'par_hum', 'outside_temp', 'outside_press', 'outside_hum',
       'windspeed', 'visibility', 'dew_point', 'rand_var1', 'rand_var2', 'a_energy', 'l_energy']
oEnergy

,kitchen_temp,kitchen_hum,liv_temp,liv_hum,laun_temp,laun_hum,office_temp,office_hum,bath_temp,bath_hum,...,outside_temp,outside_press,outside_hum,windspeed,visibility,dew_point,rand_var1,rand_var2,a_energy,l_energy
0,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,55.200000,...,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433,60.0,30.0
1,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,55.200000,...,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195,60.0,30.0
2,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,55.090000,...,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668,50.0,30.0
3,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,55.090000,...,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389,50.0,40.0
4,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,55.090000,...,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097,60.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19723,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,52.400000,...,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812,100.0,0.0
19724,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,52.326667,...,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940,90.0,0.0
19725,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,52.266667,...,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117,270.0,10.0
19726,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,52.200000,...,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784,420.0,10.0
19727,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,52.200000,...,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851,430.0,10.0

We want to be able to predict only thw appliance energy since an analysis have shown that thet consume energy the most

In [9]:
# removing the light fixtures column from the data
iEnergy = oEnergy.pop('l_energy')

In [10]:
oEnergy.head()

,kitchen_temp,kitchen_hum,liv_temp,liv_hum,laun_temp,laun_hum,office_temp,office_hum,bath_temp,bath_hum,...,par_hum,outside_temp,outside_press,outside_hum,windspeed,visibility,dew_point,rand_var1,rand_var2,a_energy
0,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,...,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433,60.0
1,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,...,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195,60.0
2,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,...,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668,50.0
3,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,...,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389,50.0
4,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,...,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097,60.0

# Feature Selection

In [11]:
# Tuning for the best possible number of features to select

sEnergy = oEnergy.values
a = sEnergy[:, :-1]
b = sEnergy[:, -1]

# get a list of models to evaluate
def getModels():
    models = dict()
    for i in range(2, 27):
        model = LinearRegression()
        rfe = RFE(model, n_features_to_select=i)
        models[str(i)] = Pipeline(steps=[('s',rfe),('m',model)])
    return models

# evaluate a given model using cross-validation
def evaluateModel(model, a, b):
    cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1) 
    scores = cross_val_score(model, a, b, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
    return scores

# get the models to evaluate
models = getModels()

# evaluate the models and store results
results, names = list(), list()
for name, model in models.items():
    scores = evaluateModel(model, a, b)
    results.append(scores)
    names.append(name)
    print('for %s features, Mean Absolute Error is: %.1f, Std is: %.3f' % (name, mean(scores) * 100, std(scores)))

for 2 features, Mean Absolute Error is: -5756.0, Std is: 1.838
for 3 features, Mean Absolute Error is: -5761.4, Std is: 1.831
for 4 features, Mean Absolute Error is: -5739.6, Std is: 1.781
for 5 features, Mean Absolute Error is: -5715.2, Std is: 1.787
for 6 features, Mean Absolute Error is: -5635.6, Std is: 1.748
for 7 features, Mean Absolute Error is: -5378.3, Std is: 1.751
for 8 features, Mean Absolute Error is: -5373.6, Std is: 1.751
for 9 features, Mean Absolute Error is: -5368.3, Std is: 1.758
for 10 features, Mean Absolute Error is: -5380.9, Std is: 1.725
for 11 features, Mean Absolute Error is: -5370.8, Std is: 1.715
for 12 features, Mean Absolute Error is: -5368.8, Std is: 1.722
for 13 features, Mean Absolute Error is: -5370.3, Std is: 1.714
for 14 features, Mean Absolute Error is: -5366.0, Std is: 1.719
for 15 features, Mean Absolute Error is: -5361.8, Std is: 1.732
for 16 features, Mean Absolute Error is: -5360.4, Std is: 1.733
for 17 features, Mean Absolute Error is: -5359.1, Std is: 1.726
for 18 features, Mean Absolute Error is: -5358.5, Std is: 1.713
for 19 features, Mean Absolute Error is: -5356.4, Std is: 1.696
for 20 features, Mean Absolute Error is: -5353.1, Std is: 1.698
for 21 features, Mean Absolute Error is: -5351.8, Std is: 1.712
for 22 features, Mean Absolute Error is: -5349.4, Std is: 1.703
for 23 features, Mean Absolute Error is: -5348.4, Std is: 1.706
for 24 features, Mean Absolute Error is: -5347.5, Std is: 1.702
for 25 features, Mean Absolute Error is: -5347.9, Std is: 1.704
for 26 features, Mean Absolute Error is: -5347.9, Std is: 1.704